.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    .form{
        &:hover{
            transition: 500ms;
            background-color: #1827B0;
        }
        background-color: #4c59d8;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 350px;
    }
    .input{
        background-color: transparent;
        color: #fff;
        margin: 15px 0;
        border: none;
        border-bottom: 2px solid #091272;
        width: 150px;
        &::placeholder{
            color: #fff;
        }
        &:focus{
            background-color: transparent;            
            box-shadow:none;
            outline-style: none;
            border-bottom: 2px solid #091272;
        }
    }
    .submit-btn{
        &:hover{
            background-color: #091272;
        }
        &:focus{
            border: none;
            outline: none
        }
        background-color: #2f3784;
        margin: 10px 0;
        color: #fff;
        border: none;
        width: 70px;
        height: 40px;
    }
}